<script src="{{ 'gsap.min.js' |  asset_url }}" defer="defer"></script>
<h1 class="text-header-large">Im h1</h1>
<h2 class="text-header-medium">Im h2</h2>
<h3 class="text-header-small">Im h3</h3>
<h4 class="text-sub-header-large">Im h4</h4>
<h5 class="text-sub-header-medium">Im h5</h5>

<button class="bg-red-500 py-2 px-4">Koop nu</button>
<button class="bg-red-500 py-2 px-4">Koop nu</button>
<button class="btn bg-red-500 py-2 px-4">Koop nu</button>
<button class="bg-red-500 py-2 px-4">Koop nu</button>
<button class="bg-red-500 py-2 px-4">Koop nu</button>
<button class="btn bg-accent text-white shadow-sm px-4 py-2 mobile-xl:px-8 mobile:py-3 font-medium hover:bg-accent-light uppercase ">
  koop nu
</button>
<button class="bg-black text-white shadow-sm px-4 py-2 mobile-xl:px-8 mobile:py-3 font-medium hover:bg-accent-light uppercase ">
  koop nu
</button>
<button
  class="bg-white hover:text-white hover:bg-black transition-all duration-300 ease-in-out text-black shadow-sm px-4 py-2 mobile-xl:px-8 mobile:py-3 font-medium  uppercase "
>
  koop nu
</button>
<button
  class="bg-black text-white hover:text-black hover:bg-white transition-all duration-300 ease-in-out  shadow-sm px-4 py-2 mobile-xl:px-8 mobile:py-3 font-medium  uppercase "
>
  koop nu
</button>

<button class="btn--secondary">kooop nu</button>
<a href="" class="btn--primary">koop nu</a>

<section class="min-h-[100rem] bg-white">
  <button class="btn bg-accent-light">im a button</button>
</section>

<section class="content-container min-h-[100rem]  bg-green-500">
  <button class="bg-accent-light">im a button</button>
</section>
